
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}
.font-playfair{
  font-family: Playfair !important;
}
.font-playfair-display{
  font-family: Playfair Display !important;
}
.font-gravitas {
  font-family: "Gravitas One", serif !important;
}

.font-ballet{
  font-family: Ballet !important;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
}